.users-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-title {
    text-align: center;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
    max-height: 450px;
    overflow-y: auto;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.users-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.users-table thead tr {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: inset 0 -2px 0 #e2e8f0;
}


.users-table th {
    font-weight: 600;
    text-align: center;
    padding: 16px 24px;
    border-bottom: 2px solid #e2e8f0;
}

.users-table td {
    padding: 15px 20px;
    border: 1px solid #f1f5f9;
}

.users-table tbody tr:hover {
    background-color: #f8fafc;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.edit-btn, .delete-btn {
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    background-color: transparent;
    cursor: pointer;
}

.edit-btn {
    background-image: url("../svg/edit.svg");
}

.delete-btn {
    background-image: url("../svg/delete.svg");
}

