.user-form-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.user-form {
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-label {
    width: 35%;
    box-sizing: border-box;
}

.input-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    border: .5px solid gray;
    border-radius: 10px;
}

.error-input {
    border-color: #E26A6A;
}

.roles-checkboxes {
    display: flex;
    flex-direction: column;
}