.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.auth-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.error-message {
  color: #e26a6a;
}

.login-btn {
  align-self: center;
}
