<div class="change-password-form-container">
  <h2>{{ 'loginEdit' | translate }}</h2>
  <form class="change-password-form" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <div class="password-field">
      <label for="oldPassword">{{ 'oldPassword' | translate }}</label>
      <p-password
        id="oldPassword"
        formControlName="oldPassword"
        [feedback]="false"
        [toggleMask]="true"
        autocomplete="off"
        [fluid]="true"
      />

      @if (passwordForm.controls.oldPassword.touched && passwordForm.controls.oldPassword.invalid) {
        <span class="error-message">{{ 'validationOldPasswordEmpty' | translate }}</span>
      }
    </div>

    <div class="password-field">
      <label for="newPassword">{{ 'newPassword' | translate }}</label>
      <p-password
        id="newPassword"
        formControlName="newPassword"
        [toggleMask]="true"
        [feedback]="false"
        autocomplete="off"
        [fluid]="true"
      />

      @if (passwordForm.controls.newPassword.touched && passwordForm.controls.newPassword.invalid) {
        <span class="error-message">{{ 'validationNewPasswordEmpty' | translate }}</span>
      }
    </div>

    <p-button
      type="submit"
      label="{{ 'changePasswordBtn' | translate }}"
      severity="success"
      rounded
      class="change-password-btn"
      [disabled]="passwordForm.invalid"
    />
  </form>
</div>
