body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.login-section{
 display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.auth-input {
    box-sizing: border-box;
    padding: 5px 10px;
    border: .5px solid gray;
    border-radius: 10px;
}

.auth-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.error-input {
    border-color: #E26A6A;
}
