.change-password-form-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.change-password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.password-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
}

.error-message {
  color: #e26a6a;
}

.change-password-btn {
  align-self: center;
}
