<div class="users-list">
  <h2 class="page-title">Users List</h2>
  <div class="table-container">
    <p-table [value]="users" stripedRows showGridlines>
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Login</th>
          <th class="text-center">Name</th>
          <th class="text-center">Birth date</th>
          <th class="text-center">Age</th>
          <th class="text-center">Salary</th>
          <th class="text-center">Roles</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.login }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.birthDate }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.salary }}</td>
          <td>
            <div class="user-roles">
              @for (role of user.roles; track role.id) {
                <p-tag [value]="role.name" severity="info" />
              }
            </div>
          </td>
          <td>
            <p-button icon="pi pi-pencil" rounded text (onClick)="edit(user)" />
          </td>
          <td>
            @if (user.login !== currentUser) {
              <p-button
                icon="pi pi-trash"
                severity="danger"
                rounded
                text
                (onClick)="delete(user)"
              />
            }
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-button class="add-user-btn" label="Add user" rounded icon="pi pi-plus" severity="success" />
</div>
